body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  font-weight: 100;

  margin: 0;
  height: 100%;
  text-align: center;
}

a {
  color: #000000;
  text-decoration: none;
}
